@model FribergCarRentalsWebbApp.Models.Car
@inject FribergCarRentalsWebbApp.Services.ICarService CarService

@{
    ViewData["Title"] = "Car Details";

    Price price = CarService.GetCurrentCarPrice(Model);

    bool userIsCustomer = (bool)(Context.Items["UserCustomer"] ?? false);

    bool userIsAdmin = (bool)(Context.Items["UserAdmin"] ?? false);
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <h1>@Model.Name</h1>
            <hr style="border: none; border-top: 1px solid #888; margin: 3rem 0;">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1">
                    <div>
                        <p style="margin-top: 8px">@Model.Description</p>
                        <ul class="list-unstyled">
                            <li>$@price.DailyPrice per day</li>
                            <li>@price.AllowedDailyMileage miles per day</li>
                            <li>$@price.AdditionalMileagePricePerInterval for every @price.AdditionalMileagePriceInterval mile above limit</li>
                        </ul>
                        <div class="row align-items-center justify-content-center">
                            <div class="d-flex gap-4 mt-3">
                                @if (!userIsCustomer && !userIsAdmin)
                                {
                                    <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#loginSignupModal">Rent Car</a>
                                }
                                else if (userIsCustomer)
                                {
                                    <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#bookingCalendarModal">Rent Car</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#editCarInfoModal">Edit</a>
                                    <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addImageModal">Add Image</a>
                                    <a class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#unlistModal">Unlist</a>
                                }

                                <a class="btn btn-secondary btn-lg" asp-action="Index">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 order-1 order-md-2">

                    <!-- Visible on smaller screens -->
                    <div class="d-md-none">
                        <div class="row row-cols-4 g-2 mb-4 ms-3 me-3">
                            @{
                                int indexS = 1;
                            }
                            @foreach (var image in Model.Images)
                            {
                                <div class="col">
                                    <a href="@image.Link" target="_blank" class="d-block">Image @indexS</a>
                                </div>
                                indexS++;
                            }
                        </div>
                    </div>

                    <!-- Visible on larger screens -->
                    <div class="d-none d-md-block">
                        <div class="d-flex justify-content-end">
                            <ul class="list-group list-group-flush text-end d-inline-block w-auto">
                                @{
                                    int indexL = 1;
                                }
                                @foreach (var image in Model.Images)
                                {
                                    <li class="list-group-item w-auto">
                                        <a href="@image.Link" target="_blank">Image @indexL</a>
                                    </li>
                                    indexL++;
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Car Info Modal -->
    <div class="modal fade" id="editCarInfoModal" tabindex="-1" aria-labelledby="editCarInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="editCarInfoForm">
                    <input type="hidden" id="editCatInfoCarId" value="@Model.Id" />

                    <div class="modal-header">
                        <h5 class="modal-title" id="editCarInfoModalLabel">Edit Car</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="editCarInfoCarName" class="form-label">Car Name</label>
                            <input type="text" class="form-control" id="editCarInfoCarName" value="@Model.Name" required>
                        </div>

                        <div class="mb-3">
                            <label for="editCarInfoDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="editCarInfoDescription" rows="3" required>@Model.Description</textarea>
                        </div>

                        <div class="mb-3">
                            <label for="editCarInfoDailyPrice" class="form-label">Daily Price</label>
                            <input type="number" class="form-control" id="editCarInfoDailyPrice" value="@price.DailyPrice" required>
                        </div>

                        <div class="mb-3">
                            <label for="editCarInfoAllowedMileage" class="form-label">Allowed Mileage per Day</label>
                            <input type="number" class="form-control" id="editCarInfoAllowedMileage" value="@price.AllowedDailyMileage" required>
                        </div>

                        <div class="mb-3">
                            <label for="editCarInfoPricePerExtraMile" class="form-label">Price for Every Mile Above Maximum</label>
                            <input type="number" class="form-control" id="editCarInfoPricePerExtraMile" value="@price.AdditionalMileagePricePerInterval" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add Image Modal -->
    <div class="modal fade" id="addImageModal" tabindex="-1" aria-labelledby="addImageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="addImageForm">
                    <input type="hidden" id="addImageCarId" value="@Model.Id" />

                    <div class="modal-header">
                        <h5 class="modal-title" id="addImageModalLabel">Add Image</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="addImageInput" class="form-label">Image address</label>
                            <input type="text" class="form-control" id="addImageInput" placeholder="Enter image URL" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Unlist Modal -->
    <div class="modal fade" id="unlistModal" tabindex="-1" aria-labelledby="unlistModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="unlistForm">
                    <input type="hidden" id="unlistCarId" value="@Model.Id" />

                    <div class="modal-header">
                        <h5 class="modal-title" id="unlistModalLabel">Unlist</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Are you sure you want to unlist this car? This action cannot be undone.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" id="unlistButton">Unlist</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_BookingCalendar.cshtml", Model)
